:root {
    --background: #F5F5DC;
    --hf: #d4d4be;
    --primary: #333333;
    --accent: #E07A5F;
    --icons: #ab6d5c;
    --button-text: white;


}

ul, li, a{
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--background); 
    display: grid;

}
img {
    border-radius: 5px;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Roboto", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
    color: var(--primary);
}

button:hover {
    cursor: pointer;
}

/* HEADER AND FOOTER */
header, footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
    width: 100%;

    background-color: var(--hf); 
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
  
}

header > ul{
    display: flex;
    justify-content: space-evenly;
    width: max-content;
}
.header-links {
    list-style-type: none;
    width: fit-content;
    right: 0;
    align-items: center;

}
.header-links > li {
    transition: .2s ease;
    padding: 5px;
    gap: 5px;
    margin-right: 10px;
}
.header-links > li:hover {
    color: white;
}
#lilguy {
    height: 40px;
    box-shadow: none;
    transition: 0.2s ease;
    margin-left: 10%;
}
#lilguy:hover{
    filter: invert(60%);
}

footer {
    bottom: 0;
    justify-content: space-evenly;
}
.social-link {
    width: 4vh;
    transition: .2s ease;
}
.social-link:hover {
    opacity: 50%;
}

/* ALL BANNERS */


.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 50px;
    background-color: inherit;
    width: fit-content;
}
.banners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-title {
    margin: 30px;
    margin-top: 50px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 60%;
    margin-right: 10px;

}
.hamburger > div {
    width: inherit;
    height: 12%;
    background-color: rgb(73, 73, 73);
    border-radius: 5px;

}












/* GREETING */

.greeting{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    margin: 50px 40px;
}
.flavor {
    color: var(--accent);
}
.greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 40%;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
}
.greeting-desc {
    font-weight: 400;
    font-size: 20px;
    margin: 15px 0px;
}
.greeting-resume {
    font-weight: 400;
    font-size: 20px;
    background-color: var(--accent);
    width:fit-content;
    text-align: center;
    padding: 7px 14px;
    border-radius: 10px;
    transition: 0.2s ease;
    color: var(--button-text);

}
.greeting-resume:hover{
    background-color: rgba(128, 128, 128, 0.539);
    padding: 7px 20px;
}

.portrait, .headshot{
    width: 50%;
    height: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.238);
}




/* PROJECTS */
/* ASL */

.projects-and-arrows {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.projects {
    margin-bottom: 30px;
    padding: 20px;
    flex: 3;
}
.title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.project-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    font-size: 12px;
    width: 50vw;
    height: auto;

}
.project-text-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-title-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
}
.project-title-dates{
    padding-bottom: 10px;
    font-size: 14px;
    color: grey;
    margin: 5px;
}

.project-text-desc {
    height: 80%;
    padding-bottom: 4%;
}


.project-slide > img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.project-link {
    transition: .2s ease;
}
.project-link:hover{
    width: 4.3vh;
    cursor: pointer;
}

.hidden {
    display: none;
    transition: 1s;
}


.selector-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    padding-top: 50px;
}

.nav-button {
    width: 15px;
    height: 15px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30%;
    margin-top: 30%;
    border-radius: 50%;
    
    color: lightgrey;
    background-color: lightgrey;
}
.selected-nav-button {
    transition: .5s;
    color: grey;
    background-color: grey;
}

.nav-arrow {
    width: 10%;
    height: 10%;
    transition: .2s ease;

}
.left {
    margin-right: 0px;
}
.right {
    margin-left: 0px;
}
.left:hover{
    transform: translateX(-5px);
    opacity: 60%;
    cursor: pointer;
}
.right:hover {
    transform: translateX(5px);

    opacity: 60%;
    cursor: pointer;
}



/* ABOUT ME */

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headshot {
    width: 90%;
}

.about-me {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 100px 0px;
}
.imgcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.about-me-content > * {
    margin: 10px;
}

.about-me-content > p {
    padding-bottom: 20px;
    padding-top: 20px;
}


/*  */


/* CONTACT */

    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
    }

    .contact-form {
      width: 100%;
      max-width: 500px;
      padding: 20px;
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
      border-radius: 8px;
      margin-bottom: 100px;
    }
    .contact-form h2 {
      margin-bottom: 20px;
      color: var(--accent);
    }
    .contact-form label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: var(--primary);
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: var(--hf);
    }
    .contact-form button {
      padding: 10px 20px;
      background-color: var(--accent);
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .contact-form button:hover {
      background-color: var(--icons);
    }
/* CAVEAT FONT */



/* RESPONSIVENESS */
@media only screen and (max-width: 400px) {
    .portrait {
        display: none;
    }
    .greeting-text {
        width: 80vw;
    }

    .project-slide > img {
        display: none;
    }

    .header-links {
        display: none;
        width: 90%;
        height: 100%;
        transition: all 1s ease;
    }
    .header-links:hover{
        transform: translateX(0);
    }

    .hamburger {
        display: flex;
    }

    .imgcontainer {
        flex: 0;
    }
    .about-me-content {
        width: 90%;
    }

    .contact-form {
        width: 90%;
    }

}