ul, li, a{
    text-decoration: none;

    color: inherit;
}

body {
    background-color: white; 
}
img {
    border-radius: 5px;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Roboto", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

button:hover {
    cursor: pointer;
}

/* HEADER AND FOOTER */
header, footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98vw;
    height: 6vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #344e4172;
    
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;

    
}

header > ul{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
.header-links {
    list-style-type: none;
    width: 30%;
    right: 0;

}
.header-links > li {
    transition: .2s ease;
}
.header-links > li:hover {
    color: white;
}
#lilguy {
    height: 5vh;
    box-shadow: none;
    transition: 0.2s ease;

}
#lilguy:hover{
    filter: invert(60%);
}

footer {
    bottom: 0;
    justify-content: space-evenly;
}
.social-link {
    width: 4vh;
}

/* ALL BANNERS */
.banner:nth-child(even){
    background-color: white;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 50px;
    background-color: white;


}

.banner-title {
    margin: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    background-color: #344e4172;
    padding: 10px;
    border-radius: 5px;
    font-style: normal;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 600px) {
    .portrait {
        display: none;
    }
    .greeting-text {
        width: 80vw;
    }

    .project-slide > img {
        display: none;
    }
}

/* GREETING */

.greeting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}
.flavor {
    color: rgb(14, 33, 101);
}
.greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 40%;
    font-size: 30px;
    font-weight: 700;
}
.greeting-desc {
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}
.greeting-resume {
    font-weight: 400;
    font-size: 20px;
    background-color:rgb(142, 187, 255);
    width:fit-content;
    padding: 7px 14px;
    border-radius: 10px;
    transition: 0.2s ease;

}
.greeting-resume:hover{
    background-color: rgb(157, 161, 180);
    padding: 7px 20px;
}

.portrait, .headshot{
    width: 25%;
    height: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.238);
}




/* PROJECTS */
/* ASL */

.projects {
    margin-bottom: 30px;
    padding: 20px;
    
}

.project-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 60%;
}

.project-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;

}
.project-text-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-title-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
}
.project-title-dates{
    padding-bottom: 10px;
    font-size: 14px;
    color: grey;
    margin: 5px;
}


.project-title-link {

}

.project-text-desc {
    height: 80%;
    padding-bottom: 4%;
    width: 80%;
}


.project-slide > img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.hidden {
    display: none;
    transition: 1s;
}


.selector-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}

.nav-button {
    width: 15px;
    height: 15px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30%;
    margin-top: 30%;
    
    color: lightgrey;
    
    border-radius: 50%;
    background-color: lightgrey;
}


/* EXPERIENCE */
.experinece {
    margin: 20px;
}

.exp-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.education {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 2%;
    margin: 10px;
    height: 100%;
}




.hca, .ryno {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 2%;
    margin: 10px;
    
}
.exp-entry-title {
    font-weight: 700;
}


.jobs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}





/* ABOUT ME */

.headshot {
    width: 10%;
}

.about-me {
    border: solid red;
    display: flex;
    flex-direction: column;
}
.about-me-content {
    display: flex;
    flex-direction: row;
}


/*  */


